@tailwind base;
@tailwind components;
@tailwind utilities;

.search-result-box {
  width: 100%;         
  max-width: 42rem;         
  border-radius: 0rem;    
  background-color: #ffffff;
  padding: 1rem;             
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  max-height: 500px;
  overflow: auto;
}

/* correct selector: two colons */
.search-result-box::-webkit-scrollbar {
  width: 12px;               /* width for vertical scrollbar */
  height: 12px;              /* height for horizontal scrollbar */
}

/* track (background) */
.search-result-box::-webkit-scrollbar-track {
  background: rgba(120, 119, 119, 0.118); /* was #ffffff9a */
  border-radius: 0px;
}

/* thumb (draggable handle) */
.search-result-box::-webkit-scrollbar-thumb {
  background: #6464fc92;
  border-radius: 0px;
}

/* thumb hover state */
.search-result-box::-webkit-scrollbar-thumb:hover {
  background: #6464fc;
}

.title{
  font-size: 25px;
  padding-bottom: 20px;
  font-weight: bold;
}

.search {
  width: 100%;
  max-width: 42rem;
}